#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.Home-article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding: 15px;
  justify-content: center;
}

.BookCard-container {
  width: 250px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 15px;
}
.bookcard-header {
  cursor: pointer;
}
.bookcard-header:hover {
  color: #3498db;
}
.hideElement {
  display: none;
}
button {
  border-radius: 8px;
  border: 1px solid grey;
  padding: 1em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.buttonFocus {
  background-color: grey;
  color: #1a1a1a;
  font-weight: 600;
  border: 2px solid #1a1a1a;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button:hover {
  background-color: rgba(138, 134, 134, 0.281);
}

.hideForm {
  display: none;
}

.showForm {
  display: flex;
  justify-content: center;
}
.hideUpdate {
  display: none;
}

.showUpdate {
  display: flex;
  justify-content: center;
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid white;
  border-top: 3px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.flexContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.flexSection {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid grey;
}
.flexDiv {
  padding: 1rem;
}

@media (max-width: 482px) {
  button {
    border-radius: 4px;
    margin: 10px;
    padding: 0.4em 0.6em;
    font-size: 0.6em;
    font-weight: 500;
    min-width: 70px;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .flexContainer {
    flex-direction: column;
  }
  .flexSection {
    width: 100%;
    border: none;
  }
  .flexDiv {
    padding: 1rem;
  }
  .showForm {
    width: 100px;
  }
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
  }
}
